{% block content %}

<a href="#" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center">
    <span class="glyphicon glyphicon-user pull-right"></span> User Management 
</a>
<br>
<br>

<a href="#" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center">
    <span class="glyphicon glyphicon-tower pull-right"></span> Quiz Management 
</a>
<br>
<br>

<a href="{{ url_for('admin_newquiz') }}" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center">
    <span class="glyphicon glyphicon-pencil pull-right"></span> Create a New Quiz 
</a>
<br>
<br>

{% endblock %}