{% block content %}

<div class='wrapper'>

    <nav id='sideMenu'>
        <div class='sidebar-header'>
            <h3>Admin Menu</h2>
        </div>

        <ul class='list-unstyled components'>
            <li class='active'>
                <a href="{{ url_for('admin_users') }}">
                    <span class="glyphicon glyphicon-user pull-right" style='color: blue'></span> User Management 
                </a>
            </li>
            {% if not current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('admin_quizmanagement') }}">
                        <span class="glyphicon glyphicon-tower pull-right" style='color: orange'></span> Quiz Management 
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('admin_newquiz') }}">
                    <span class="glyphicon glyphicon-pencil pull-right" style='color: purple'></span> Create a New Quiz 
                </a>
            </li>
        </ul>
    </nav>

</div>

{% endblock %}