{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id='myTitle'>
    <h2>Administration Panel</h2>
</div>

<div id='moreFlames'></div>

<div class="row">

    <div class="col-sm-3">
        {% include '/admin/admin_menu.html' %}
    </div>

    <div class="col-sm-6">
        <h3>Quizes needing review</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Question Set</th>
                    <th>User</th>
                    <th>Submitted</th>
                    <th>Review Link</th>
                </tr>
                {% set count = namespace(value=0) %}
                {% for q in review_quizes %}
                    <tr>
                        <td>{{ review_qset[count.value] }}</td>
                        <td>{{ review_users[count.value] }}</td>
                        <td>{{ q.timestamp.strftime("%A %d, %B %Y @ %H:%M") }}</td>
                        <td id='quizBar'>
                            <a href="{{ url_for('reviewquiz') }}?attempt={{ q.id }}&user={{ review_users[count.value] }}" class="btn btn-info btn-sm" style="background: green;">
                                <span class="glyphicon glyphicon-arrow-left"></span> Review
                            </a>
                        </td>
                    </tr>
                    {% set count.value = count.value + 1 %}
                {% endfor %}
            </table>
            <hr><br>
        </div>
    </div>

    <div class="col-sm-3">
        <h3>User Results</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Last Logged In</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ url_for('review_results', user=user.id) }}">{{ user.username }}</a></td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.last_seen.strftime("%A %d, %B %Y @ %H:%M") }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div> 
    
</div>


<hr><br>



{% endblock %}