{% extends "base.html" %}

{% block content %}

<script src="/static/js/admin_newquiz.js"></script>
<div class="jumbotron">
    <h1>CREATE A NEW QUIZ</h1>
</div>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }}</p>
    <p>{{ form.title }}</p>

    {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    
    <div id='dynamicAdd'></div>
    <br>
    <button type="button" class="btn btn-primary" onclick="add_question()">Add Question</button><br>
    <hr>
    <p>{{ form.submit(class="btn btn-primary btn-block", style="background-color: green") }}</p>
</form>

{% endblock %}
