{% extends "base.html" %}

{% block content %}

    <div class="jumbotron" id='myTitle'>
        <h2>Welcome, {{ current_user.username }}</h2>
    </div>

    <div id='moreFlames'></div>

    <div class="row">

        <div class="col-sm-3">
            {% include 'side_menu.html' %}  
        </div>

        <div class="col-sm-6">

        </div>

        <div class="col-sm-3">
            <nav id='quizBar'>
                <h3 style="text-align: center;">Take A Quiz!</h3>
                <hr style="border-top: dotted 5px; color: red;">
                <br><br>
                {% for quiz in quizes %}
                    {% if quiz.is_active %}
                        <a href="{{ url_for('take_quiz')}}?quiz={{ quiz.id }}" class="center-block btn btn-info btn-lg" 
                            style="width: 75%; text-align: center; background-color: #222; white-space: normal;">
                            <span class="glyphicon glyphicon-pencil pull-left"></span> &nbsp;{{ quiz.title }}
                        </a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>

    </div>


{% endblock %}