{% block content %}

<a href="{{ url_for('view_quizes') }}" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center;">
    <span class="glyphicon glyphicon-star-empty pull-right"></span>  View Quizes
</a>
<br>
<br>

{% if not current_user.is_anonymous %}
    <a href="{{ url_for('review_results') }}" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center;">
        <span class="glyphicon glyphicon-tower pull-right"></span>  My Results
    </a>
    <br>
    <br>
{% endif %}

<a href="{{ url_for('view_ladder') }}" class="center-block btn btn-info btn-lg" style="width: 75%; text-align: center;">
    <span class="glyphicon glyphicon-sort-by-attributes-alt pull-right"></span>  Leaderboards
</a>
<br>
<br>

{% endblock %}