{% block content %}

<div class='wrapper'>

    <nav id='sideMenu'>
        <div class='sidebar-header'>
            <h3>Menu</h2>
        </div>

        <ul class='list-unstyled components'>
            <li class='active'>
                <a href="{{ url_for('view_quizes') }}">
                    <span class="glyphicon glyphicon-star-empty pull-right" style='color: blue'></span>  View Quizes
                </a>
            </li>
            {% if not current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('review_results') }}">
                        <span class="glyphicon glyphicon-tower pull-right" style='color: orange'></span>  My Results
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('view_ladder') }}">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt pull-right" style='color: purple'></span>  Leaderboards
                </a>
            </li>
        </ul>
    </nav>

</div>

{% endblock %}