{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <h1>Signup</h1>
    {{ form.hidden_tag() }}

    <p>{{ form.username.label }}</p>
    <p>{{ form.username }}</p>
    <p>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.firstname.label }}</p>
    <p>{{ form.firstname }}</p>

    <p>
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

    </p>
    <p>{{ form.lastname.label }}</p>
    <p>{{ form.lastname }}</p>

    <p>
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.email.label }}</p>
    <p>{{ form.email }}</p>
    <p>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.password.label }}</p>
    <p>{{ form.password }}</p>
    <p>


        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>Confirm Password</p>
    <p>{{ form.password2 }}</p>
    <p>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

    </p>
    <p>{{ form.submit() }}</p>

</form>


{% endblock %}