{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id='myTitle'>
    <h2>Leaderboards {{ qset }}</h2>
</div>

<div id='moreFlames'></div>

<div class="row">

    <div class="col-sm-3">
        {% include 'side_menu.html' %}
    </div>

    <div class='col-sm-6'>

        <form action="" method="post" novalidate>
            <h1>Signup</h1>
            {{ form.hidden_tag() }}
        
            <p>{{ form.username.label }}</p>
            <p>{{ form.username }}</p>
            <p>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
            <p>{{ form.firstname.label }}</p>
            <p>{{ form.firstname }}</p>
        
            <p>
                {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        
            </p>
            <p>{{ form.lastname.label }}</p>
            <p>{{ form.lastname }}</p>
        
            <p>
                {% for error in form.lastname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.email.label }}</p>
            <p>{{ form.email }}</p>
            <p>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.password.label }}</p>
            <p>{{ form.password }}</p>
            <p>
        
        
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>Confirm Password</p>
            <p>{{ form.password2 }}</p>
            <p>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        
            </p>
            <p>{{ form.submit() }}</p>
        
        </form>

    </div>

    <div class='col-sm3'>
        
    </div>



{% endblock %}