{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id="myTitle">
    <h2>Available Quizes</h2>
</div>

<div id='moreFlames'></div>

<div class="row">

    <div class="col-sm-3">
        {% include 'side_menu.html' %}
    </div>

    <div class="col-sm-6">
        {% set count = namespace(value=0) %}
        {% for quiz in quizes %}
            {% if quiz.is_active %}
                <h2>{{ quiz.title }}</h2>
                <h4>Quiz has been taken {{ attempts[count.value] }} times by all members</h4>
                
                {% if not current_user.is_anonymous %}
                    {% if user_attempts[count.value] > 0 %}
                        <p><span style="color: green;">You've attempted this quiz {{ user_attempts[count.value] }} times</span></p>
                    {% else %}
                        <p><span style="color: red;">You haven't attempted this quiz yet</span></p>
                    {% endif %}
                    <a href="{{ url_for('take_quiz')}}?quiz={{ quiz.id }}" class="btn btn-info btn-lg" id='takeQuiz' style="background-color: green; width: 50%;">
                        <span class="glyphicon glyphicon-pencil"></span> Take this Quiz!
                    </a>
                {% endif %}

                <br>
                <br>
            {% endif %}
            {% set count.value = count.value + 1 %}
        {% endfor %}
    </div>

    <div class="col-sm-3">
    </div>

</div>


{% endblock %}