{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id='myTitle'>
    <h2>Leaderboards {{ qset }}</h2>
</div>

<div id='moreFlames'></div>

<div class="row">

    <div class="col-sm-3">
        {% include 'side_menu.html' %}
    </div>

    <div class="col-sm-6">
        {% for qset in qsets %}
        <h3><a href="{{ url_for('take_quiz', quiz=qset.id) }}">{{ qset.title }}</a></h3>
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Result</th>
            </tr>

            {% for result in leaderboard %}

                {% if result.get("qset_id") == qset.id %}
                    <tr>
                        <td style='font-size: large'>{{ result.get("user") }}</td>
                        <td style='font-size: large'>{{ result.get("top_mark") }}/{{ result.get("out_of") }}</td>
                    </tr>

                {% endif %}

            {% endfor %}

        </table>
        <br><br>
        {% endfor %}
    </div>

    <div class="col-sm-3">
        
    </div>

{% endblock %}